<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 9</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
<body>
  <div class="sidebar">
    <h3>Homework</h3>
    <a href="/">Week 2</a>
    <a href="/week8">Week 8</a>
    <a href="/week9">Week 9</a>
  </div>

  <div class="content">
    <h1>Week 9: DApp</h1>
    <h3>1. What are the key differences between a traditional web application and a decentralized application (dApp)?</h3>
    <a>Traditional Web2.0 applications are centralized and have a server-client model, making them susceptible to server side attacks. Decentralised applications are peer-to-peer networks with no central control servers, but rather have data and transactions occuring in the immutable blockchain</a>
    <br>

    <h3>2. How do blockchain networks (e.g., Ethereum, Solana) support the functioning of dApps, and what role do smart contracts play in this process?</h3>
    <a>Blockchain networks are a decentralized ledger for data storage. With Proof of work and Proof of Stake consensus mechanisms, any user can verify the integrity of all events on the blockchain, thereby ensuring transparency and preventing fraud. The role of smart contracts provide additional functionalities and allows programs to self-execute when certain agreed upon conditions are met. This opens the door to automated processes like payments, voting, or asset transfers without intermediaries. </a>
    <br>

    <h3>3. What are the main challenges associated with developing and deploying a dApp, particularly in terms of security and scalability?</h3>
    <a>Security: vulnerabilities in smart contracts can lead to large scale hacks (eg. DAO hack on Ethereum) \nScalability: Many blockchains have high transaction costs and gas fees, making the transactions costly and infeasible. This however can be improved with layer-2 scaling solutions eg. Polygon for Ethereum \n Interoperability: Cross-Chain Communication is vital in ensuring seamless interactions between services and dApps on different blockchains.\nRegulation: Blockchain is still highly regulated by governmental organisation to prevent illegal activities.</a>
    <br>

    <h3>4. How can decentralized applications ensure data privacy and user security while still maintaining transparency on a public blockchain?</h3>
    <a>Sensitive user data can be encrypted before storing it on chain, allowing verification but not knowledge of the data. Furthermore, Zero-Knowledge Proofs such as zk-SNARKs and other protocols can be used to hide underlying data and anonymise users.</a>
    <br>

    <h3>5. What are some real-world use cases for dApps, and how are they changing various industries (e.g., finance, gaming, supply chain)?</h3>
    <a>In DeFi, popular applications are decentralized exchanges (eg. Uniswap), lending platforms (eg. Aave), stablecoins (eg. DAI). These provide typical financial services in a decentralised manner. Supply chain applications can allow suppliers to have logistical transparency and get real time data through decentralised sources.</a>
    <br>
    </div>
  <a href="/">Home</a>

</body>
</html>